.file-upload-section {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    width: 90%;
}
  
.file-input-label {
    display: block;
    width: 100%;
}

.file-input-text {
    display: block;
    margin-top: 10px;
}

.file-info {
    margin-top: 20px;
}

.checkmark-icon {
    color: green;
    margin-right: 10px;
}
.file-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2em;
}

.progress-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
