.input-profile-group {
    display: flex;
    flex-direction: column;
    align-items: center
}
.profile-input {
    width: 90%; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 2em;
    --padding-start: 10px;
}
.icon-profile-section {
    text-align: center;
    margin-bottom: 4em; 
    margin-top: 2em;
}
.user-profile-icon {
    font-size: 10em;
}
.profile-button {
    width: 50%;
}
.alert-container {
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}