
    .table-container {
        position: relative;
    }
    .table-wrapper {
        height: 580px; /* Set the desired height */
        overflow-y: auto; /* Enable vertical scrolling */
    }
    .table {
        width: 100%;
        border-collapse: collapse;
    }
    .table th, .table td {
        border: 1px solid #ddd;
        padding: 8px !important;
        font-size: 15px;
    }
    .table th {
        text-align: left;
    }
