.table-container {
  width: 100%;
  overflow-x: auto;
  .table-wrapper {
    height: 350px;
    overflow-y: auto;
    table {
      width: 100%;
      border-collapse: collapse;

      .table th, .table td {
        border: 1px solid black;
        padding: 8px !important;
        font-size: 15px;
        text-align: left;
        cursor: pointer;
      }
      .table th {
        text-align: left;
      }
  
      tr.expanded {
        background-color: #ddd;
        color: black;
      }
  
      tr.accordion-content {
        display: none;
      }
  
      tr.expanded + .accordion-content {
        display: table-row;
        td {
          background-color: black;
        }
        div {
          background-color: black;
        }
        .car-infos-user-accordion {
          display: flex;
          justify-content: space-evenly;
          .icon-user-accordion {
            font-size: 50px;
          }
          p {
            font-size: large;
            text-transform: uppercase;
            font-weight: 900;
          }
        }
        .car-infos-accordion {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          p {
            margin: 10px !important;
          }
        }
        .car-user-accordion {
          display: flex;
          justify-content: center;
          p {
            margin: 5px !important;
          }
        }
      }
    }
  }
}

.add-employee-button {
  position: fixed;
  left: 20px;
  padding: 5px 10px;
  color: #003D5C;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}